.memos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-flow: dense row;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: stretch;
    // align-content: flex-start;
}