.login-form{
    border: solid 1px #2980b9;
    margin: 0 15em;
    padding: 1em 2em;
    margin-top: 2em;
    box-sizing: border-box;
    h3 {
        border-bottom: solid 2px #2980b9;
        color: #2980b9;
        margin-bottom: 1.5em;
    }
    input {
        border: none;
        margin-bottom: .5em;
        padding-bottom: .5em;
        border-bottom: solid 1px #2980b9;
        font-size: 14px;
        width: 100%;
        &:hover, &:focus{
            outline: none;
        }
    }
    .button{
        margin-top: 1.5em;
        button{
            float: right;
            padding: 1em;
            margin-left: 1em;
            border: solid 1px #2980b9;
            background: none;
            font-size: 14px;
            font-weight: 550;
            &.submit-button{
                background: #2980b9;
                color: white;
                &:hover, &:focus{
                    font-weight: 600;
                    background: white;
                    color: #2980b9;
                    transition: 0.5s ease;
                }
            }
            &.clear-button{
                border: solid 1px #2980b9;
                color: #2980b9;
            }
        }
    }
    .clear {
        clear: both;
    }
    .errMsg{
        color: red;
        font-size: 14px;
    }
    .sign-up {
        font-size: 14px;
        color: #7f8c8d;
        .sign-up-link{
            text-decoration: none;
            color: #2980b9;
            &:hover, &:focus {
                font-weight: 600;
                color: #c0392b;
            }
            &:active, &:visited{
                text-decoration: none;
            }
        }
    }
}