[tabIndex]{
    outline: none !important;
    height: 100%;
}
.memo {
    // background-color: $color2;
    cursor: pointer;
    margin-top: 1em;
    padding: 1em;
    height: 90%;
    .memo-title{
        font-size: 16px;
        font-weight: 600;
        color: white;
        margin-bottom: .5em;
        border-bottom: solid 1px white;
    }
    .memo-content{
        font-size: 14px;
        color: white;
        margin-bottom: .5em;
    }
    .memo-created-date{
        font-size: 13px;
        color: #bababa;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    // overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    .modal-content {
        cursor: pointer;
        margin: 20% auto; /* 15% from the top and centered */
        padding: 20px;
        width: 80%; /* Could be more or less, depending on screen size */
        .modal-header{
            .memo-title{
                outline: none;
                border: none;
                font-size: 16px;
                font-weight: 600;
                color: white;
                width: 100%;
                margin-bottom: .5em;
                // border-bottom: solid 1px white;
                box-sizing: margin-box;
                &:active, &:active {
                    outline: none;
                }
            }
            .close {
                margin-top: -.7em;
                color: white;
                float: right;
                font-size: 18px;
                font-weight: bold;
                &:hover,
                &:focus {
                    color: #c0392b;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            .title{
                margin-top: 0;
                font-family: 'Cabin', sans-serif;
                outline: none;
                border: none;
                border-bottom: solid 1px white;
                width: 100%;
                color: white;
                font-size: 16px;
                font-weight: 600;
            }
            .content {
                font-family: 'Cabin', sans-serif;
                outline: none;
                border: none;
                width: 100%;
                color: white;
                font-size: 14px;
            }
        }
        .modal-body{
            .memo-content{
                font-size: 14px;
                color: white;
                border: none;
                width: 100%;
                box-sizing: border-box;
                outline: none;
                // border-top: solid 1px white;
                &:hover, &:active{
                    outline: none;
                }
            }
            .memo-created-date{
                font-size: 13px;
                color: #bababa;
            }
        }
        .tooltip{
            display: none;
            color: white;
            margin-bottom: o;
            margin-top: .5em;
            font-size: 13px;   
        }
        .save-button{
            float: right;
            display: none;
            padding: .5em;
            margin-right: .5em;
            // border: solid 1px #2980b9;
            border: none;
            background: white;
            font-size: 14px;
            font-weight: 600;
            &:hover{
                background: #ecf0f1;
            }
            &:active{
                outline: none;
            }
        }
        .clear{
            clear: both;
        }
    }
}
