[tabIndex] {
  outline: none !important; }

.memo {
  cursor: pointer;
  padding: 1em; }
  .memo .memo-title {
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-bottom: .5em;
    border-bottom: solid 1px white; }
  .memo .memo-content {
    font-size: 14px;
    color: white;
    margin-bottom: .5em; }
  .memo .memo-created-date {
    font-size: 13px;
    color: #bababa; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */ }
  .modal .modal-content {
    cursor: pointer;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 80%;
    /* Could be more or less, depending on screen size */ }
    .modal .modal-content .modal-header .memo-title {
      cursor: text;
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: 600;
      color: white;
      width: 100%;
      margin-bottom: .5em;
      box-sizing: margin-box; }
      .modal .modal-content .modal-header .memo-title:hover, .modal .modal-content .modal-header .memo-title:active {
        outline: none; }
    .modal .modal-content .modal-header .close {
      margin-top: -.7em;
      color: white;
      float: right;
      font-size: 18px;
      font-weight: bold; }
      .modal .modal-content .modal-header .close:hover, .modal .modal-content .modal-header .close:focus {
        color: #c0392b;
        text-decoration: none;
        cursor: pointer; }
    .modal .modal-content .modal-header .title {
      margin-top: 0;
      font-family: 'Cabin', sans-serif;
      outline: none;
      border: none;
      border-bottom: solid 1px white;
      width: 100%;
      color: white;
      font-size: 16px;
      font-weight: 600; }
    .modal .modal-content .modal-header .content {
      font-family: 'Cabin', sans-serif;
      outline: none;
      border: none;
      width: 100%;
      color: white;
      font-size: 14px; }
    .modal .modal-content .modal-body .memo-content {
      font-size: 14px;
      color: white;
      border: none;
      width: 100%;
      box-sizing: border-box;
      outline: none; }
      .modal .modal-content .modal-body .memo-content:hover, .modal .modal-content .modal-body .memo-content:active {
        outline: none; }
    .modal .modal-content .modal-body .memo-created-date {
      font-size: 13px;
      color: #bababa; }
    .modal .modal-content .tooltip {
      display: none;
      color: white;
      margin-bottom: o;
      margin-top: .5em;
      font-size: 13px; }
    .modal .modal-content .save-button {
      float: right;
      display: none;
      padding: .5em;
      margin-right: .5em;
      border: none;
      background: white;
      font-size: 14px;
      font-weight: 600; }
      .modal .modal-content .save-button:hover {
        background: #ecf0f1; }
      .modal .modal-content .save-button:active {
        outline: none; }
    .modal .modal-content .clear {
      clear: both; }
